<main id="barba-wrapper">
  <div class="barba-container">
    <div id="news" class="big-bg">
      <%= render 'header' %>
      <div class="wrapper">
        <h2 class="page-title">Profile</h2>
      </div>
    </div>

    <div class="news-content wrapper">
      <article>
        <div class="prof-history">
          <h2 class="prof-title"><span>S</span>kill</h2>
          <div class="prof-disc">
            <div class="prof-text">HTML&CSS, Javascript, Ruby, Ruby on Rails, Design, Home Page</div>
            <div class="prof-text">HTML&CSS, Javascript, Ruby, Ruby on Rails, デザイン, ホームページ製作</div>
          </div>
        </div>

        <div class="prof-history">
          <h2 class="prof-title"><span>I</span> am a ...</h2>
          <div class="prof-disc">
            <div class="prof-text">I am a web engineer.
              I mainly work on Ruby / Ruby on Rails.<br>
              I also try to create a moving site using Javascript.<br>
              We aim to create more simple, easy-to-use and enjoyable works<br>
              I am still an unskilled person, but I think that I have worked with various people, so thank you.
            </div>

            <div class="prof-text">私はWEBエンジニアです。主に、Ruby/Ruby on Railsを使い活動しております。<br>現在は、Javascriptを使った動きのあるサイト製作にも挑戦しており、<br>
              よりシンプルで使いやすく、楽しい作品を生み出すことを目標にしております<br>
              まだまだ未熟者ですが、多くの方々とお仕事をさせていただきたいと考えておりますので、よろしくお願いいたします。
            </div>
          </div>
        </div>

        <div class="prof-history">
          <h2 class="prof-title"><span>P</span>olicy</h2>
          <div class="prof-disc">
            <div class="prof-text">
              We'll correspond to your plan with all your heart.<br>
              Let each other have fun doing work
            </div>
            <div class="prof-text">いただいた企画には心を込めて対応させていただきます<br>
              お互いが楽しく仕事をこなせるように
            </div>
          </div>
        </div>

      </article>
      <aside>
        <h3 class="sub-title">自己紹介</h3>
          <p>
            遠藤　康平<br>Kouhei Endo<br>日本 / 京都<br><br>趣味<br>
            サッカー/バスケ<br>フットサル<br>ゲーム<br>旅行<br>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.2"></script>
            <a href="http://twitter.com/share?text= テスト投稿です &url=https://endoportfolio.herokuapp.com/" rel="nofollow" target=”_blank”><%= image_tag 'Twitter_Logo_Blue.png', class: "tw_img" %></a>
            <br>
            <span class="fb-share-button" data-href="https://https://endoportfolio.herokuapp.com/" data-layout="button" data-size="small">
              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fhttps%2Fendoportfolio.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a>
            </span>
          </p>
      </aside>
    </div> <!-- news-content wrapper-->
  </div> <!--barba-container-->
</main> <!--barba-wrapper-->
<footer>
  <div class="wrapper">
    <p>
      <small>&copy; 2019 koubox</small>
    </p>
  </div>
</footer>




