<main id="barba-wrapper">
  <div class="barba-container">
    <div id="news" class="big-bg">
      <%= render 'header' %>
      <div class="wrapper">
        <h2 class="page-title">Profile</h2>
      </div>
    </div>

    <div class="news-content wrapper">
      <article>
        <div class="prof-history">
          <h2 class="prof-title"><span>S</span>kill</h2>
          <div class="prof-disc">
            <div class="prof-text">HTML&CSS, Javascript, Ruby, Ruby on Rails, Design, Home Page</div>
            <div class="prof-text">HTML&CSS, Javascript, Ruby, Ruby on Rails, デザイン, ホームページ製作</div>
          </div>
        </div>

        <div class="prof-history">
          <h2 class="prof-title"><span>I</span> am a ...</h2>
          <div class="prof-disc">
            <div class="prof-text">I am a web engineer.
              I mainly work on Ruby / Ruby on Rails.<br>
              I also try to create a moving site using Javascript.<br>
              We aim to create more simple, easy-to-use and enjoyable works<br>
              I am still an unskilled person, but I think that I have worked with various people, so thank you.
            </div>

            <div class="prof-text">私はWEBエンジニアです。主に、Ruby/Ruby on Railsを使い活動しております。<br>現在は、Javascriptを使った動きのあるサイト製作にも挑戦しており、<br>
              よりシンプルで使いやすく、楽しい作品を生み出すことを目標にしております<br>
              まだまだ未熟者ですが、多くの方々とお仕事をさせていただきたいと考えておりますので、よろしくお願いいたします。
            </div>
          </div>
        </div>

        <div class="prof-history">
          <h2 class="prof-title"><span>P</span>olicy</h2>
          <div class="prof-disc">
            <div class="prof-text">
              We'll correspond to your plan with all your heart.<br>
              Let each other have fun doing work
            </div>
            <div class="prof-text">いただいた企画には心を込めて対応させていただきます<br>
              お互いが楽しく仕事をこなせるように
            </div>
          </div>
        </div>

      </article>
      <aside>
        <h3 class="sub-title">自己紹介</h3>
        <p>
          遠藤　康平<br>Kouhei Endo<br>日本 / 京都<br><br>趣味<br>
          サッカー/バスケ<br>フットサル<br>ゲーム<br>旅行<br>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.2"></script>
          <a href="http://twitter.com/share?text= テスト投稿です &url=https://endoportfolio.herokuapp.com/" rel="nofollow" target=”_blank”><%= image_tag 'Twitter_Logo_Blue.png', class: "tw_img" %></a>
          <br>

          <a href="https://www.facebook.com/sharer/sharer.php?u=https://endoportfolio.herokuapp.com/" target="_blank" rel="nofollow" class="fb-xfbml-parse-ignore">
            <svg version="1.1" id="_x31_0" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512" style="width: 20%; height: 20%; opacity: 1;" xml:space="preserve">
              <style type="text/css">
                .st0 {
                  fill: #374149;
                }
              </style>
              <g>
                <path class="st0" d="M483.758,0H28.242C12.641,0,0,12.637,0,28.238V483.68C0,499.359,12.641,512,28.242,512h219.679V340.957
                  h-74.336h-0.066v-86.16h74.402v-63.598c0-13.801,1.578-26.422,4.57-37.824c0.094-0.344,0.215-0.66,0.309-1
                  c0.875-3.215,1.855-6.34,2.953-9.356c0.871-2.367,1.871-4.633,2.879-6.886c0.418-0.942,0.785-1.93,1.226-2.851
                  c1.461-3.024,3.051-5.934,4.762-8.734c0.082-0.137,0.153-0.282,0.238-0.418c3.614-5.863,7.782-11.214,12.454-16.058
                  c0.109-0.114,0.21-0.242,0.32-0.355c2.012-2.063,4.164-3.981,6.363-5.848c0.492-0.418,0.95-0.875,1.45-1.282
                  c1.734-1.414,3.594-2.691,5.438-3.984c1.098-0.766,2.148-1.586,3.281-2.305c1.195-0.766,2.477-1.422,3.715-2.141
                  c1.926-1.106,3.824-2.242,5.843-3.222c0.348-0.176,0.727-0.309,1.078-0.481c15.566-7.359,33.754-11.175,53.918-11.175
                  c31.524,0,58.641,2.402,66.481,3.441v77.039h-45.598c-35.762,0-42.722,17.039-42.722,42v55.039h76.457l8.902,0.02l-11.118,86.14
                  h-73.855h-0.226l0,0h-0.16V512h146.878C499.359,512,512,499.359,512,483.68V28.238C512,12.637,499.359,0,483.758,0z" style="fill: rgb(66,103,178);"></path>
              </g>
            </svg>
          </a>
        </p>
      </aside>
    </div> <!-- news-content wrapper-->
  </div> <!--barba-container-->
</main> <!--barba-wrapper-->
<footer>
  <div class="wrapper">
    <p>
      <small>&copy; 2019 koubox</small>
    </p>
  </div>
</footer>




