<main id="barba-wrapper">
  <div class="barba-container">
    <div id="menu" class="big-bg">
      <%= render 'header' %>
      <div class="menu-content wrapper">
        <h2 class="page-title">folio</h2>
        <p>
          真心込めて作成させて頂いた作品です。<br>
          ぜひ一度、ご覧頂ければ幸いです。
        </p>
      </div>
    </div>
    <div class="wrapper grid">
      <div class="item big-box">
        <a href="/" ,rel="noopener" , target=”_blank”>
          <%= image_tag "folio2.jpg" %>
          <p>HelpPost</p>
        </a>
      </div>
      <div class="item">
        <a href="http://13.114.92.191:3000/" ,rel="noopener" , target=”_blank”>
          <%= image_tag "folio1.jpg" %>
          <p>Chat-Space</p>
        </a>
      </div>
      <div class="item">
        <a href="/" ,rel="noopener" , target=”_blank”">
          <%= image_tag "menu3.jpg" %>
          <p>coming soon...</p>
        </a>
      </div>
<!--      <div class="item">-->
<!--        <a href="/" ,rel="noopener" , target=”_blank”>-->
          <%#= image_tag "menu4.jpg" %>
<!--          <p>coming soon...</p>-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="item">-->
<!--        <a href="/" ,rel="noopener" , target=”_blank”>-->
          <%#= image_tag "menu5.jpg" %>
<!--          <p>coming soon...</p>-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="item">-->
<!--        <a href="" ,rel="noopener" , target=”_blank”>-->
          <%#= image_tag "menu6.jpg" %>
<!--          <p>coming soon...</p>-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="item">-->
<!--        <a href="/" ,rel="noopener" , target=”_blank”>-->
          <%#= image_tag "menu7.jpg" %>
<!--          <p>coming soon...</p>-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="item">-->
<!--        <a href="/" ,rel="noopener" , target=”_blank”>-->
          <%#= image_tag "menu8.jpg" %>
<!--          <p>coming soon...</p>-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="item">-->
<!--        <a href="/" ,rel="noopener" , target=”_blank”>-->
          <%#= image_tag "menu9.jpg" %>
<!--          <p>coming soon...</p>-->
<!--        </a>-->
<!--      </div>-->
    </div>
  </div>
</main>
<footer>
  <div class="wrapper">
    <p>
      <small>&copy; 2019 koubox</small>
    </p>
  </div>
</footer>
