<main id="barba-wrapper">
  <div class="barba-container">
    <div id="home" class="big-bg">
      <%= render 'header' %>
      <div class="home-content wrapper">
        <div class="ticker" rel="roll">
          <ul>
            <li>HTML & CSS</li>
            <li>Ruby</li>
            <li>Ruby on Rails</li>
            <li>Javascript</li>
          </ul>
        </div>
        <h2 class="page-title" data-in-effect="fadeInDown" data-in-shuffle="true"><span>KOUHEI ENDO</span></h2>
        <a class="button" href="/index/folio">Look PortFolio</a>
      </div>
    </div>
  </div>
</main>