<main id="barba-wrapper">
  <div class="barba-container">
    <div id="contact">
      <%= render 'index/header' %>
      <div class="wrapper">
        <h2 class="page-title">Contact</h2>
      <div class="newWrap">
        <div class="newTitle">
          <h1>お問い合わせ：送信しました</h1>
          <p class="send"><%= link_to 'トップに戻る', root_path%></p>
        </div>
<!--        <div class="newContent">-->
<!--          <p>お問い合わせありがとうございます。</p>-->
<!--        </div>-->
      </div>
    </div>
    </div>
  </div>
</main>